streamlit
google-generativeai
numpy
pandas
plotly
faiss-cpu
PyPDF2
sentence-transformers
requests
beautifulsoup4
boto3
botocore
python-docx
uuid

ast
hashlib
logging
re
random
time
typing-extensions
sqlite3
